body {
  background-color: orange;
  font-family: "Protest Riot", sans-serif;
  font-weight: 200;
  font-style: normal;
  width: 85vw;
}

h1 {
  font-size: xx-large;
}


.quiz-container {
  box-sizing: border-box;
  width: 90vw;
  max-width: 95%;
  height: 95vh;
  margin: 20px;
  padding: 1rem;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#question-text {
  font-size: large;
  padding-top: 2rem;
}

.choices {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.choice {
  font-size: 1em;
  display: block;
  margin: 5px 5px;
  padding: .5em .75em;
  background-color: #81bde4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.choice:hover {
  background-color: rgb(8, 130, 170);
}

#feedback {
  font-size: xx-large;
  text-align: center;
}

#restart-function {
  font-size:x-large;
  margin: 5px 5px;
  padding: .5em .75em;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#restart-function:hover {
  color: red;

}

#restart-button:hover {
  color: red;
}